/* @media screen and (min-width:770px) {
    .card-class {
        width: 22rem;
        margin-left: 5rem;
    }
} */


/* @media screen and (min-width:583px) {
    .card-class {
        width: 22rem;
        margin-left: 5rem;
    }
} */