.footer-icons {
    height: 2rem;
    width: 1.5rem;
}

.footer-class {
    margin-left: 14rem;
    margin-top: 6rem;
    bottom: 0rem;
    background-color: black;
}

.list-class {
    list-style: none;
    font-size: 13px;
    padding-left: 0.65rem;
}

.footer-li {
    width: 13rem;
}

.service {
    border: 1px solid gray;
    padding: 6px 6px 6px 6px;
    justify-content: center;
}

.footer-head {
    color: white;
    font-weight: 800;
}

li {
    list-style: none;
    color: white;
}

h6 {
    display: flex;
}